body{
    background-color: rgb(214, 205, 205);
    }


    header{
        background-color: red;
        text-align: center;
        }

        h2{
            background-color: black;
            color: white;
        }
    
        